asgiref==3.2.10
boto==2.49.0
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
Django==3.0.8
django-cleanup==5.0.0
django-crispy-forms==1.9.2
django-photologue==3.12
django-ses-gateway==0.1.1
django-simple-forum==0.0.5
django-simple-pagination==1.3
django-sortedm2m==3.0.2
django-storages==1.9.1
django-tinymce==3.0.2
ExifRead==2.3.1
firebase-admin==4.3.0
gcloud==0.17.0
google-api-core==1.22.0
google-api-python-client==1.10.0
google-auth==1.20.0
google-auth-httplib2==0.0.4
google-cloud-core==1.4.1
google-cloud-firestore==1.8.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.1
googleapis-common-protos==1.52.0
grpcio==1.31.0
httplib2==0.18.1
idna==2.10
jws==0.1.3
lxml==4.5.2
material==0.1
microurl==0.1.1
msgpack==1.0.0
oauth2client==3.0.0
Pillow==7.2.0
protobuf==3.12.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.4.3
Pyrebase==3.0.27
python-http-client==3.2.7
python-jwt==2.0.1
pytz==2020.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.6
sendgrid==6.4.5
six==1.15.0
sorl-thumbnail==12.4a1
sqlparse==0.3.1
starkbank-ecdsa==1.0.0
uritemplate==3.0.1
urllib3==1.25.10
