<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
</head>
<body>
	<h2>Schedule your tasks here!</h2>
	<form action="/schedule/" method="post">
	  {% csrf_token %}
	  <h2>Select the date : </h2>
	  <input type="date" name = "date">
	  <br>
	  <h2>Time : </h2>
	  <input type="time" name="time">
	  <br>
	  <h2>Description : </h2>
	  <input type="text" name="description">
	  <br>
	  <h2>Class : </h2>
	  <input type = "text" name = "classroom">
	  <br>
	  <input type="submit">
	</form>
</body>
</html>