<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Dashboard</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/litera/bootstrap.min.css"
    />
  </head>
  <body>
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">
        Welcome {{teacher_name}}
      </h5>
      <button
        type="button"
        class="mt-2 btn btn-primary"
        onclick="location.href = '{% url 'logout'%}'"
      >
        Logout
      </button>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyDxZwUxJl8Peq1puSWw1jpSQsDQx-sLk6I",
        authDomain: "codeforgood-54cec.firebaseapp.com",
        databaseURL: "https://codeforgood-54cec.firebaseio.com",
        projectId: "codeforgood-54cec",
        storageBucket: "codeforgood-54cec.appspot.com",
        messagingSenderId: "953684615576",
        appId: "1:953684615576:web:cb0ae9bb9d1e4bebcfcbed",
        measurementId: "G-QEZS1EDTWK",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
</html>
