<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Dashboard</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">
        Welcome {{teacher_name}}
      </h5>
      <button
        type="button"
        class="mt-2 btn btn-primary"
        onclick="location.href = '{% url 'logout'%}'"
      >
        Logout
      </button>
      <a href="/view_schedules/">View Schedules</a>
      <a href="/discussion_tab/">Discussion Tab</a>
      <a href="/schedule/">Calendar</a>
    </div>

    <div>
      <input class="ml-3" type="file" id="pdf" />
      <button class="btn btn-primary" onclick="uploadPDF()">
        Upload File
      </button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-storage.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyDxZwUxJl8Peq1puSWw1jpSQsDQx-sLk6I",
        authDomain: "codeforgood-54cec.firebaseapp.com",
        databaseURL: "https://codeforgood-54cec.firebaseio.com",
        projectId: "codeforgood-54cec",
        storageBucket: "codeforgood-54cec.appspot.com",
        messagingSenderId: "953684615576",
        appId: "1:953684615576:web:cb0ae9bb9d1e4bebcfcbed",
        measurementId: "G-QEZS1EDTWK",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();

      const ref = firebase.storage().ref();

      function uploadPDF() {
        const file = document.querySelector("#pdf").files[0];

        const name = new Date() + "-" + file.name;

        const metadata = {
          contentType: file.type,
        };

        const task = ref.child(name).put(file, metadata);

        task
          .then((snapshot) => snapshot.ref.getDownloadURL())
          .then((url) => {
            console.log(url);
            alert("Document uploaded succesfully");
          });
      }

      // var storage = firebase.storage();
      // var storageRef = storage.ref();
    </script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
  </body>
</html>
